html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

/* Customized  Scroll  */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--c2);
}

::-webkit-scrollbar-thumb {
    background: var(--c6);
}

/* End of Customized  Scroll  */



.nodrag{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}
:root {
    --c1:#ffffff;   /*     white       */ 
    --c2:#000000;   /*     black       */
    --c3:#020202;         /*                 */
    --c4:#42d9be; ;         /*                 */
    --c5:#1989fb ;         /*                 */
    --c6:#f3f3f3 ;         /*                 */
    --c7:#1b1825 ;         /*                 */
    --c8:#f0f6fc ;         /*                 */
    --c9:#1F2522 ;         /*                 */
    --c10:;                                   
}

.c1{color:#ffffff;}
.c2{color:#000000;}
.c3{color:#020202;}
.c4{color:#42d9be;}
.c5{color:#1989fb;}
.c6{color:#f3f3f3;}
.c7{color:#1b1825;}
.c8{color:#f0f6fc;}
.c9{color:#1F2522;}
.c10{color:;}


.bgc1{background-color:#ffffff;}
.bgc2{background-color:#000000;}
.bgc3{background-color:#020202;}
.bgc4{background-color:#42d9be;}
.bgc5{background-color:#1989fb;}
.bgc6{background-color:#f3f3f3;}
.bgc7{background-color:#1b1825;}
.bgc8{background-color:#f0f6fc;}
.bgc9{background-color:#1F2522;}
.bgc10{background-color:;}




a {
    text-decoration: none;
}



/*Fonts for Css*/


.fon1 {
    font-family: 'Lexend', sans-serif;
}

.fon2 {}

.fon3 {}

/*End of fonts section   */


/*  Media Queries     */




@media only screen and (min-width: 767px) {
    .box2 {
        height: 500px;
    }
}

/*Mobile Devices*/
@media only screen and (max-width: 480px) {
    #sec1{
    height: 160% !important;

}
}

/*Sm Devices*/
@media only screen and (max-width: 768px) {}

/*medium devices*/
@media only screen and (max-width: 1024px) {}

/*Large devices*/
@media only screen and (min-width: 1281px) {
    .box{
    height: 45vh !important;
}
    .box2{
/*    height: 30vh !important;*/
}

.cpttxt{
    top: 150px !important;
}


.cptform{
    top:160px !important;
}

.p1cptform{
    top: 120px !important;
}

.cir1{
    display: block !important;
    position: absolute;
    top: 90px;
    left: 700px;
    width: 15%;
    z-index: 1;
}


.ffu{
    position: relative;
    top: 100px;
}

.wdbox{
    height: 35vh;
}

.texttop{
    position: relative;
    top: 180px;
}

    .wdbox3{
        height: 50vh;
    }
    
    

}


/* End of Media Queries     */


/*Nav bar start*/

a{
    text-decoration: none;
}


.navmargin{
    margin-left: 30px;
}

.navbar-nav {
    position: relative;
    left: -100px;
}



.navbar ,.navbarsm{
    background-color: transparent;
    box-shadow: 0 2px 15px -5px rgba(255,255,255,0.1);
    z-index: 10;
}




.nav-link{
    color: var(--c1) !important;
}


.nav-item a {
    padding: 8px 8px 8px 64px;
    font-size: 20px;
    color: var(--c2);
    display: block;
    cursor: pointer !important;
}

.nav-item a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--c5);
    transition: 300ms;
}

.nav-item a:hover::after {
    width: 65%;
}

.bad{
    position: relative;
    left: 100px;
    border: 1px solid var(--c5);
    color: var(--c5) !important;
    transition: .5s ease;
    font-size: 23px;
}

.bad:hover{
    background-color: var(--c5);
    border: 1px solid var(--c5);
    color: var(--c1) !important;
    transition: .5s ease;
}

.droper{
    color: var(--c1) !important;
}
.dropbtn {
/*    background-color: var(--c1);*/
/*    color: var(--c2);*/
    /*padding: 16px;
    font-size: 16px;*/
    border: none;
    background-color: transparent ;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content ,.dropdown-contentsm {
    display: none;
    position: absolute;
    background-color:var(--c1);
    min-width: 300px;
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    transition: .5s;

}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: .5s;
    text-transform: capitalize;
}



.dropdown-content a:hover {
    background-color: #ddd;
    transition: .5s;
}


.dropdown:hover .dropdown-content  {
    display: block;
}


.dropdown-contentsm {
    width: 300px;
    color: var(--c2) !important;

}
.dropdown-contentsm a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: .5s;
    color: var(--c2) !important;
    text-transform: capitalize;
}

.dropdown-contentsm a:hover {
    background-color: #ddd;
    transition: .5s;
}

.dropdown:hover .dropdown-contentsm  {
    display: block;
}


.navbarsm {
    position: fixed;
    height: 6vh;
    width: 100%;
    background-color: var(--c3);
    z-index: 15;
    box-shadow: none;
}

#mainbox {
    font-size: 1.8em;
    transition: all .6s;
    position: fixed;
    right: 20px;
    top: 1px;
    color: var(--c1);
    cursor: pointer !important;

}

.sidemenu {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    background-color: var(--c3);
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.sidemenu a {
    padding: 8px 8px 8px 64px;
    font-size: 20px;
    color: var(--c1);
    display: block;
    cursor: pointer !important;
}

.sidemenu a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--c4);
    transition: 300ms;
}

.sidemenu a:hover::after {
    width: 15%;
}

.sidemenu a:hover,
#mainbox:hover {
    color: var(--c4);
    transition: .5s;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 80%;
    font-size: 36px;
    margin-left: 32px;
    color: var(--c1);
    cursor: pointer;
    z-index: 10 !important;
}


                                    /*Nav bar end*/

.upbtn {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    color: var(--c1);
    background-color: red;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
    opacity: 0;
}


                                    /*  --------------------------- Codes Start's From Here ---------------------------------*/


.cir1{
    display: none;
}


#sec1{
    width: 100%;
    height: 100% auto;
    background-image: url(pictures/bg1.svg);
    background-position: center center;
    background-size: cover;
    position: relative;
/*    top: 70px;*/
}


#sec2{
    width: 100%;
    padding-bottom: 12%;
    background-color: var(--c1);
}

/*responsive*/
@media(max-width: 481px){
    #p1sec2 {
        padding-top: 20%;
        margin-top: 70%;
        padding-bottom: 10%;
    }
  }

  #sec2{
    width: 100%;
    padding-bottom: 12%;
    background-color: var(--c1);
}

/*responsive*/
@media(max-width: 370px){
    #p1sec2 {
        padding-top: 60%;
        margin-top: 90%;
    }
  }


.svg{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.ctp{
    font-size: 3.8em;
    font-weight: bolder;
    
}

.cpttxt{
    position: relative;
    top: 30px;
}


.cptform{
    position: relative;
    top:80px;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    z-index: 3;
    border-radius: 10px;
}

.p1cptform{
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    z-index: 3;
    border-radius: 10px;
}

.p3cptform{
    position: relative;
    top:180px;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    z-index: 3;
}



.cptpara{
    font-size: 20px;
}


.head{
    padding-top: 10%;
    font-weight: bold;
}

#sec3{
    width: 100%;
    background-color: var(--c1);
    padding-bottom: 5%;
}

.box{
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    transition: 300ms;
    cursor: pointer ;
}

.box:hover{
    scale: 1.01;
    border-bottom: 8px solid var(--c3);
    transition: 300ms;
}




#sec4{
    width: 100%;
    background-color: var(--c1);
    padding-bottom: 5%;
}


.semicir{
    position: absolute;
    width: 5%;
}

.semicir2{
    width: 5%;
    position: absolute;
    right: 0;
}

::placeholder{
    font-family: 'Lexend', sans-serif !important;
    font-size: 12px;
    font-weight: bolder;
    padding: 2%;
}













#p2sec1{
    width: 100%;
    height: 100% auto;
    background-image: url(pictures/bg2.svg);
    background-position: center center;
    background-size: cover;
    position: relative;
/*    top: 70px;*/
}

@media(min-width: 991px){
    #p2sec1 {
        height: 100% !important;
    }

    #sec1 {
        height: 100% !important;
    }

    #p3sec1 {
        height: 100% !important;
    }
    #p4sec1 {
        height: 100% !important;
    }

    .p1cptform{
        top: 160px;
    }

    .pwd {
        margin-top: 180px;
    }

    .cptform{
        top: 100px;
    }
  }

  @media(max-width: 991px){
    #p3sec2 {
        padding-top: 40%;
    }   
      #p4sec2 {
        padding-top: 40%;
    }

    .p3cptform{
        top: 140px;
    }

  }

#p2sec3{
    padding: 5%;
    background-color: #1F2522;
}

.vmbut{
    border: 1px solid var(--c1);
    color: var(--c1);
}

.box2{
    border-radius: 10px;
}












#tc{
    width: 100%;
    padding-bottom: 10%;
}


/*.tcbox::-webkit-scrollbar {
    width: 6px;
}

.tcbox::-webkit-scrollbar-track {
    background: var(--c1) !important;
}

.tcbox::-webkit-scrollbar-thumb {
    background: var(--c5) !important;
}*/

.tctop{
    position: relative;
    top: 50px;
}

.terms-box{

    background-color: var(--c2);
    color: var(--c1);
    padding: 60px 30px;
    font-family: monospace;
}

.terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color: var(--c1);

}
               

.terms-text h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}

.buttons{
    display: flex;

}


.btna{
    background-color: #d13639;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.btnd{
    background-color: #202020;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-left: 10%;
    text-align: center;
}

.btna:hover , .btnd:hover{
    opacity: .6;
    transition: .5s;
}



#p3sec1{
    width: 100%;
    height: 100% auto;
    background-image: url(pictures/bg3.svg);
    background-position: center center;
    background-size: cover;
    position: relative;
}

.pwd{
    position: relative;
    top: 80px;
    font-weight: bolder;
}


.tctxt{
    font-size: 12px;
    font-weight: light;
}





#p3sec2{
    background-color: var(--c1);

}









#p4sec1{
    width: 100%;
    height: 100% auto;
    background-color: var(--c3);
}

#p4sec2{
    background-color: var(--c1) !important;

}

.r2wdbox2{
    color: var(--c2) !important;
}

.r2wdbox2:hover{
    color: var(--c1) !important;
}


/*

#p4sec3{
    background-color: var(--c1);
}
*/



















.btn-light{
    border: 1px solid var(--c5) !important;
    transition: 300ms;
}


.btn-light:hover{
    color: var(--c1);
    background-color: var(--c5);
    transition: 300ms;

}

.btn-primary:hover{
    color: var(--c5);
    background-color: var(--c1);
    transition: 300ms;

}

.bs{
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}


#p3sec3{
    background-color: #020202;
}

.wdbox{
    border-radius: 20px;
    cursor: pointer;
    color: var(--c1);
    transition: 300ms;
}

.wdbox:hover {
    border-bottom: 1px solid var(--c5);
/*    color: var(--c5);*/
    scale: 1.05;
    transition: 300ms;
}


.wdbox:hover .wd{
    color: var(--c5);
    scale: 1.05;
    transition: 300ms;
}



.wdicon,.wdicon2{
    font-size: 3em;
}


#p3sec4{
    background-color: var(--c1);
    padding-bottom: 5%;
}

.wdicon2{
    color: var(--c5);
}

.wdbox2{
    transition: 300ms;
}
.wdbox2:hover{
    background-color: var(--c6);
    border-radius: 20px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 300ms;
}





.fw{
    font-family:fantasy;
    font-weight: bolder;
}





#p4sec2{
    background-color: var(--c3);
}

#p4sec3{
    background-color: var(--c1);
}




.r2wdbox:hover {
    border-bottom: 1px solid var(--c5);
/*    color: var(--c5);*/
    scale: 1.05;
    transition: 300ms;
    cursor: pointer;
}


.r2wdbox:hover .wd{
    color: var(--c5);
    scale: 1.05;
    transition: 300ms;
}

.r2wdicon2{
    font-size: 3em;
    color: var(--c5);
}

.r2wdbox2{
    transition: 300ms;
    color: var(--c1);
}
.r2wdbox2:hover{
    background-color: var(--c5);
    border-radius: 20px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 300ms;
}
.r2wdbox2:hover .r2wdicon2 {
    color: var(--c1);

}

#p4sec4{
    background-color: var(--c3);
}












.footer{
    position: relative;
    bottom: 0;
  background-color: var(--c3);
    padding: 0px 0;
    text-decoration: none;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: var(--c5);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li{
    position: relative;
    left: -30px;
  list-style: none;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff !important;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

.footer-col .social-links a i{
  padding-top: 10px;
  font-size: 1.3em;
}



/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.cpy{
    color: var(--c1);
    background-color: var(--c3);
    opacity: .7;
}



.cus-but {
    border: 2px solid var(--c1);
    padding: 10px 20px;
    min-width: 200px;
    cursor: pointer;
    transition: color .5s linear;
    position: relative;
    z-index: 5;
    box-shadow: 0 10px 25px -20px rgba(255, 255, 255, 0.2);
}

.cus-but:hover {
    border-color: var(--c1);
    color: var(--c1);
}

.cus-but::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--c5);
    z-index: -1;
    transition: transform .5s;
    transform-origin: 0 0;
    ;
}

.cus-but::before {
    transform: scaleX(0);
    transition: transform .5s;
    transition-duration: .6s;
    transform-origin: 0 0;
}

.cus-but:hover::before {
    transform: scaleX(1);
}

.cus-but2 {
    border: 2px solid var(--c1);
    padding: 10px 20px;
    min-width: 200px;
    cursor: pointer;
    transition: color .5s linear;
    position: relative;
    z-index: 5;
    box-shadow: 0 10px 25px -20px rgba(255, 255, 255, 0.2);
}

.cus-but2:hover {
    border-color: var(--c1);
    color: var(--c1);
}

.cus-but2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--c2);
    z-index: -1;
    transition: transform .5s;
    transform-origin: 0 0;
    ;
}

.cus-but2::before {
    transform: scaleX(0);
    transition: transform .5s;
    transition-duration: .6s;
    transform-origin: 0 0;
}

.cus-but2:hover::before {
    transform: scaleX(1);
}







.item{
    width: 70%;
}





.form-control {
	position: relative;
	margin: 30px 0 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

}

.n-input {
	border: none;
	display: block;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 42px;
	width: 100%;
}

.n-btn {
	background-color: #1989fb;
	border: 0;
	color: #fff;
	font-size: 14px;
	height: 54px;
	padding: 12px 25px;
	position: absolute;
	top: 0;
	right: 0;
}

.n-btn:hover {
    scale: 1.1;
    transition: 300ms;
}

.n-input:focus, .n-btn:focus {
	outline: 0;
}














                        /*                Update                            */










